{:aliases  {:dev {:extra-paths ["development/src"
                                "components/config/resources"]

                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               integrant/integrant {:mvn/version "0.13.1"}
                               poly/config {:local/root "components/config"}
                               poly/in-memory-database {:local/root "components/in_memory_database"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}}}}
